#sub-text{
  text-align: center;
  color: gray;
  font-size: 25px;
  margin-top: -1%;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}
#subtext{
  font-size: 10px;
} 
#subtext2{
  font-size: 12px;
}
#jumbo-text{
  font-family: sans-serif;
  font-size: 6em;
  letter-spacing: 5px;
  padding-top: 3%;
  color: white;
  font-weight: 900;
  line-height: 90px;
}
#jumbo-subtext{
  color: white;
  font-family: sans-serif;
  width: 500px;
  max-width: 100%;
}
#demo-button{
  margin-top: 3%;
  height: 49px;
  width: 195px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}
#pricing-btn{
  border-radius: 20px;
}
#signup{
  width: 150px;
  height: 45px;
  font-size: 20px;
}
#demo1-button{
  font-weight: bold;
  font-family: sans-serif;
  border-radius: 25px;
}
#jumbo-img{
  width: 90%;
  margin-top: 25px;
}
#jumbo-phone{
  margin-top: 50px;
  width: 500px;
  max-width: 75%;
}
#jumbo-div-0{
background-color: #3EECAC;
background-image: linear-gradient(31deg, #3EECAC 0%, #EE74E1 50%, #3482ec 100%);
padding: 50px;
}
#nav{
  font-family: sans-serif;
  font-weight: bold;
  color: black;
}
#price-div{
background-color: #f3f3f3;
  margin-left: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  border-radius: 15px;
  min-height: 75px;
  padding-bottom: 25px;
  padding-top: 15px;
}
#call-button{
  width: 105px;
  color: white;
  font-weight: bolder;
  margin-left: 10px;
}
#signin-btn
{
  background-color: #f51e47;
  border-radius: 25px; 
  margin-left: 15px;
  color:white;
  border: 0px solid transparent;
  font-family: sans-serif;
}
#signup-btn{
  background-color: #7AE6B2;
  border-radius: 25px; 
  margin-left: 15px;
  color: darkslategray;
  border: 0px solid transparent;
  font-family: sans-serif;
}
#info{
 font-family: 'Raleway', sans-serif;
 text-align: center;
 padding-top: 10%;
}
#integrations-row{
  padding: 4%;
}
#small{
  font-family: 'Raleway', sans-serif;   
}
.dropdown .dropdown-menu{
  display:block !important;
}