<div class="row justify-content-center">
  <div class="col-xl-10 ">
    <div class="row pb-4 pb-md-0">
      <div class="col-lg-6 col-12 text-center">
        <h3 class="font-weight-bold mb-4 main_screen_heading text-center">
          What is you Current premium?
        </h3>
        <div class="cuurent_auto_premium_div">
          <div class="cuurent_auto_premium_subdiv">
            <span class="value_span"><img src="./../../../assets/price-tag.svg" alt=""></span>
            <input
              type="number"
              class=" current_auto_input"
              value=""
              placeholder="-"
              [(ngModel)]="current_premium"
              inputmode="numeric" pattern="[0-9]*"
              min="0"
            />
          </div>
          <div
            class="btn-group btn-group-toggle monthYearSelect"
            ngbRadioGroup
            name="radioBasic"
            [(ngModel)]="model"
          >
            <label ngbButtonLabel class="btn">
              <input
                ngbButton
                type="radio"
                value="month"
                (change)="changeYear($event)"
              />
              Month
            </label>
            <label ngbButtonLabel class="btn">
              <input
                ngbButton
                type="radio"
                value="year"
                (change)="changeYear($event)"
              />
              Year
            </label>
          </div>

          <div class="justify-content-center d-flex flex-column align-items-center mt-5">
            <button
            type="button"
            class="text-center btn bordrBtn ml-0"
            type="submit"
            (click)="autoPremium()"
          >
            I Don't Know
          </button>
          <button
            type="button"
            class="text-center btn bordrBtn ml-0"
            type="submit"
            (click)="submitPremium()"
          >
            Continue
          </button>
          </div>
        </div>
      </div>
      <div class="col-lg-1 col-12"></div>
      <div class="col-lg-5 col-12">
        <div
          class="side_img_div zoomOut_custom delay-1s"
          [ngStyle]="{
            'background-image': 'url(https://apply.insure/' + autoimageurl + ')'
          }"
        ></div>
      </div>
    </div>
  </div>
</div>
