footer {
  background-color: #647693 !important;
  padding-left: 0px !important;
}

.footer-copyright {
  z-index: 9999;
  position: absolute;
  width: 100%;
  background: #647693 !important;
}



#footer {
  background-color: #46566E !important;
  color: white !important;
  margin-top: -25px !important;
  padding-top: 3% !important;
  font-family: Verdana, sans-serif;
  font-size: 15px !important;
  line-height: 1.5 !important;
  font-weight: 500 !important;
  .deep-purple.accent-2 {
    background-color: #eee !important;
  }
}
