<div class="md-form form-group">
  <div class="row animated fadeIn justify-content-center">

    <div class="col-xl-11 mx-auto">
      <div class="row">
        <div class="col-md-7 text-center">

          <h3 class="font-weight-normal fs-20 mb-2 main_screen_heading text-center">Select your carrier to see if we can
            bundle you!</h3>
          <p class="fs-14 font-weight-normal" style="max-height: 596px;">
            There are a lot of good carriers out there. We’ll check your existing carrier for<br>
            Existing bundle discounts and also check other carriers to see if they are more<br>
            competitive for you!
          </p>
          <div class="text-center opt_box mt-4">
            <select class="form-control" (change)="submitInsuranceType($event)">
              <option value="" selected>Current Carrier</option>
              <option value="Allstate">Allstate</option>
              <option value="Chubb">Chubb</option>
              <option value="Erie">Erie</option>
              <option value="Farmers">Farmers</option>
              <option value="GEICO">GEICO</option>
              <option value="Liberty Mutual">Liberty Mutual</option>
              <option value="MetLife">MetLife</option>
              <option value="Nationwide">Nationwide</option>
              <option value="NJM">NJM</option>
              <option value="Plymouth Rock">Plymouth Rock</option>
              <option value="Progressive">Progressive</option>
              <option value="State Farm">State Farm</option>
              <option value="Travelers">Travelers</option>
              <option value="USAA">USAA</option>
              <option value="Other">Other</option>
              <option value="None">None</option>
            </select>
          </div>
          <!-- <button type="button" class="text-center text-white pink_btn" style="border: none;" (click)="">Continue</button> -->

        </div>
        <div class="col-md-5">
          <div class="side_img_div   zoomOut_custom delay-2s"
            [ngStyle]="{'background-image': 'url(https://apply.insure/'+householdimageurl+')'}"></div>
        </div>
      </div>
    </div>




    <!-- <div class="col-md-1 col-1 sale flat">
      <img src="assets/images/sale.svg" height="25" class="d-inline-block align-top" alt="">
    </div> -->
    <!--div class="col-md-3 col-6" *ngFor="let item of insurances">
      <div class="insurance-button" (click)="selectInsurance(item.value)">{{item.text}}</div>
    </div-->

  </div>
</div>
