@import '../../../variables';

button.close {
  font-size: 20pt !important;
}

button.close:focus {
  outline: none;
}

.add-car-containter {
  .addCar {
    img {
      width: 50px;
      height: 50px;
    }
    button{
      color: white;
      background: #696969  !important;
      border-radius: 5px;
    }
  }
}

.property.next-btn-div {
  @media screen and (max-width: $tablet - 1px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}


.propertyBoard{
  // display: flex;
  // align-items: center;
  select,input{
    background: transparent;
    border: none;
    &:focus{
      box-shadow: none !important;
    }
  }
  .modal_box.md-form {
    margin: 0;
  }
  .opt_box{
    
    width:121.87px;
    @media screen and (max-width:767px){
      width:100%;
    }
    select{
      height: 48px;
      border-radius: 5px !important;
      border: 1px solid #D1D1D1 !important;
      font-size: 20px;
      color: #868686;
      font-weight: 500;
    }
    &.md-form {
      margin: 0;
    }
    &:before{
      content: '\25BC';
      display: inline-block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 5%;
      z-index: 9;
      pointer-events: none;
    }
  }
}

