#sub-text {
  text-align: center;
  color: gray;
  font-size: 25px;
  margin-top: -1%;
  letter-spacing: 3px;
  font-family: "Raleway", sans-serif;
}
#subtext {
  font-size: 10px;
}
#subtext2 {
  font-size: 12px;
  margin-top: 10px;
}
#jumbo-text {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  padding-top: 3%;
}
#demo-button {
  margin-top: 3%;
  height: 49px;
  width: 195px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
#signup {
  width: 150px;
  height: 45px;
  font-size: 20px;
}
#demo1-button {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
#jumbo-phone {
  margin-top: 50px;
  width: 500px;
  max-width: 75%;
}
#nav {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: black;
}
#price-div {
  background-color: #f3f3f3;
  margin-left: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-radius: 15px;
  min-height: 75px;
  padding-bottom: 25px;
  padding-top: 15px;
}
.call-button {
  width: 105px;
  color: white;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  line-height: 1.8rem;
  text-transform: capitalize;
  background-color: #6c757d !important;
  border-color: #6c757d;
  box-shadow: none;
  margin-left: 10px;
  margin-right: 0px;
}
#info {
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-top: 10%;
}
#small {
  font-family: "Raleway", sans-serif;
}
.bg-light {
  background-color: #f8f9fa !important;
}
#sub-text {
  text-align: center;
  color: gray;
  font-size: 25px;
  margin-top: -1%;
  letter-spacing: 3px;
  font-family: "Raleway", sans-serif;
}
#jumbo-text {
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  padding-top: 3%;
}
#demo-button {
  margin-top: 3%;
  height: 49px;
  width: 195px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
#jumbo-phone {
  margin-top: 50px;
  width: 500px;
  max-width: 75%;
}
#nav {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: black;
  font-size: 16px;
}
#price-div {
  .price_cont {
    background-color: #f3f3f3;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    border-radius: 15px;
    min-height: 75px;
    padding-bottom: 25px;
    padding-top: 15px;
    @media (max-width: 767px) {
      margin: 10px;
    }
  }
}
.call-button {
  width: 105px;
  color: white;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}
#info {
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-top: 10%;
  h1,
  h3 {
    font-weight: 500;
  }
}
#small {
  font-family: "Raleway", sans-serif;
}

.head_menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  form.form-inline {
    padding: 0.5rem 1rem;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ddd;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.dropdown .dropdown-menu {
  display: block !important;
}
#demo1-button {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.signup_form {
  .form-group {
    position: relative;
    margin-bottom: 30px;
  }
  .input-group {
    margin-bottom: 30px;
    &.user_name {
      .invalid-feedback:last-child {
        right: 0;
        text-align: right;
      }
    }
  }
  .invalid-feedback {
    position: absolute;
    bottom: -25px;
  }
}
.validation-center {
  text-align: left !important;
}
#demo1-button {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  border-radius: 25px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  text-transform: inherit;
  margin: 0px;
  color: #000;
  box-shadow: none;
}
.link-class {
  width: 62%;
  margin: 0 auto;
  margin-bottom: 21px;
  margin-top: 30px;
}
.form-text {
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 8px;
}
.basic-url-input {
  margin-bottom: 5px !important;
}
.basic-url-err .invalid-feedback {
  display: block;
  position: relative;
  bottom: unset;
}
#remove_basic_url {
  position: absolute;
  top: -7px;
  right: -4px;
}

.newSignUpDesign {
  .headingTop {
    margin: 3rem 0;
    h1 {
      font-size: calc(1rem + 5vmin);
      font-weight: bold;
      color: #212529;
    }
    h5 {
      font-weight: 500;
    }
  }
  .card {
    background-color: #f8f8f8;
    border-radius: 20px;
    text-align: center;
    .gy-4 {
      > * {
        margin-bottom: 1rem;
      }
    }
  }
  button {
    background-color: #15cc3f;
    min-width: 190px;
    color: white;
    border: 0px;
    padding: 4%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
