<div class="newSignUpDesign">
  <div class="container">
    <div class="headingTop text-center">
      <h1 class="jumbo-text">InsurTech your agency in 5 mins!</h1>
      <h5>
        Get your own branded online application for your agency or each
        producer.
      </h5>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6">
        <div class="card h-100">
          <div class="card-body">
            <div id="signup-div">
              <h2 class="text-center">Instant Free Trial</h2>
              <br />
              <form
                [formGroup]="signupForm"
                (ngSubmit)="signupSubmit(signupForm.value)"
                class="signup_form"
              >
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    formControlName="firstName"
                    placeholder="First Name"
                    [ngClass]="{
                      'is-invalid':
                        submitted && signupForm.controls.firstName.errors
                    }"
                    [(ngModel)]="firstName"
                    mdbValidate
                  />
                  <div
                    *ngIf="submitted && signupForm.controls.firstName.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="signupForm.controls.firstName.errors.required">
                      First Name is required
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    placeholder="Last Name"
                    formControlName="lastName"
                    [ngClass]="{
                      'is-invalid':
                        submitted && signupForm.controls.lastName.errors
                    }"
                    [(ngModel)]="lastName"
                    mdbValidate
                  />

                  <div
                    *ngIf="submitted && signupForm.controls.lastName.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="signupForm.controls.lastName.errors.required">
                      Last Name is required
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control form-control-lg"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Enter email"
                    formControlName="email"
                    [ngClass]="{
                      'is-invalid':
                        submitted && signupForm.controls.email.errors
                    }"
                    [(ngModel)]="email"
                    mdbValidate
                  />
                  <div
                    *ngIf="submitted && signupForm.controls.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="signupForm.controls.email.errors.required">
                      Email is required
                    </div>
                    <div *ngIf="signupForm.controls.email.errors.email">
                      fill valid email address
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="phone"
                    class="form-control form-control-lg"
                    id="phone"
                    placeholder="Phone"
                    formControlName="phone"
                    [ngClass]="{
                      'is-invalid':
                        submitted && signupForm.controls.phone.errors
                    }"
                    [(ngModel)]="phone"
                    mdbValidate
                  />
                  <div
                    *ngIf="submitted && signupForm.controls.phone.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="signupForm.controls.phone.errors.required">
                      Phone is required
                    </div>
                  </div>
                </div>
                <div class="row basic-url-err gy-4">
                  <div
                    class="col-md-12"
                    *ngFor="let item of basicurls; index as i"
                  >
                    <div class="row">
                      <div class="col-md-12">
                        <div class="from-group basic-url-input">
                          <input
                            type="text"
                            class="form-control form-control-lg"
                            id="basic-url"
                            placeholder="Unique Label"
                            aria-describedby="basic-addon3"
                            formControlName="basicurls{{ i }}"
                            (change)="updateUniqueurlErr($event, i)"
                            mdbValidate
                            [(ngModel)]="basicurls[i]['basicurls']"
                            [ngClass]="{
                              'is-invalid':
                                submitted && basicurls[i]['basicurls'] == ''
                            }"
                            (keyup)="onBlurBasicUrl($event, i)"
                          />
                        </div>

                        <div
                          [ngClass]="uniqueurlErr[i] != '' ? '' : 'd-none'"
                          class="text text-danger"
                        >
                          {{ uniqueurlErr[i] }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <small
                  >Your client’s will see www.apply.insure/<font color="blue"
                    >unique label</font
                  >. Example www.apply.insure/<font color="blue">pete</font>
                </small>
                <div class="input-group mt-3">
                  <div class="row">
                    <div class="col-md-12">
                      <label class="control-label"
                        >How many links do you expect to need?
                        <span class="text text-danger">*</span></label
                      >
                    </div>
                    <div class="col-md-12">
                      <select
                        class="form-control form-control-lg"
                        formControlName="links"
                        placeholder="select links"
                        [ngClass]="{
                          'is-invalid':
                            submitted && signupForm.controls.links.errors
                        }"
                      >
                        <optgroup label="How many links do you expect to need?">
                          <option value="1" selected>1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5-10">5-10</option>
                          <option value="10-20">10-20</option>
                          <option value="20+">20+</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  <!-- <div *ngIf="submitted && signupForm.controls.links.errors" class="invalid-feedback">
              <div *ngIf="signupForm.controls.links.errors.required">No of links is required
              </div> -->
                </div>

                <button
                  type="submit"
                  class="btn-lg btn-primary"
                  [disabled] ="loading"
                >
                <span *ngIf="loading" class="spinner-border"></span>
                <span *ngIf="!loading">Submit</span>
                </button>
                <p id="subtext2">
                  Upon submitting, your account will be verified and you will
                  immedtiatley be sent a confirmation email so you can start
                  using your link. <u>No payment nessecary at signup.</u>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-6">
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="./../../assets/home-screen.png"
                alt="First slide"
              />
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="./../../assets/property-screen.png"
                alt="Second slide"
              />
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <div class="view w-100">
              <img
                class="d-block w-100"
                src="./../../assets/risk-score-screen.png"
                alt="Third slide"
              />
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal" [ngClass]="signUPCheck  ? 'd-block' : 'd-none' " tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:80vw;margin-left:auto;margin-right:auto; border-radius:20px">
    <div class="modal-content" style=" border-radius: 20px; ">
      <div class="modal-body text-center">
        <button type="button" class="close pull-right" style="outline:0" aria-label="Close" (click)="closeMessageDialog()">
          <span aria-hidden="true">×</span>
        </button>
        <div style="max-width: 845px;margin: 50px auto 17.5vmin auto;">
          <h1 style="font-size: 4vmin; margin-bottom: 4vmin ">Your account has been created. </h1>
        <h1 style="font-size: 4vmin; margin-bottom: 4vmin">1. A confirmation password has been sent to your
          Email with your temporary password.</h1>
          
         <h1 style="font-size: 4vmin;">
          2. Your custom link is  <a target="_blank" style="color: #212529"href="http://18.232.91.105/{{newApplicantName}}">http://18.232.91.105/{{newApplicantName}}</a>
          </h1>

          <div class="form-group  text-center" style=" margin-top: 18vmin; ">
             <a href="http://18.232.91.105/dashboard/login" target="_blank" style="
                 max-width: 36vmin;
                 color: white;
                 background-color: #15CC3F;
                 border-radius: 15px;
                 font-size: 3.5vmin;
                 padding: 1rem;
                 line-height: 1;
                 height: 7vmin;
                 display: flex;
                 text-decoration: none;
                 justify-content: center;
                 align-items: center;
                 margin: auto;
             ">Go to Dashboard</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="text-center">
  <p id="jumbo-text">Signup</p>
  <br /><br />
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-lg-6">
        <form
          [formGroup]="signupForm"
          (ngSubmit)="signupSubmit(signupForm.value)"
          class="signup_form"
        >
          <div class="input-group user_name">
            <div class="input-group-prepend">
              <span class="input-group-text" id="">First and last name</span>
            </div>

            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              [ngClass]="{
                'is-invalid': submitted && signupForm.controls.firstName.errors
              }"
              [(ngModel)]="firstName"
              mdbValidate
            />
          </div>

          <button type="submit" class="btn-lg btn-primary" [disabled]="loading">
            Submit
          </button>
          <p id="subtext2">
            Upon submitting, your account will be verified and you will
            immedtiatley be sent a confirmation email so you can start using
            your link. <u>No payment nessecary at signup.</u>
          </p>
          <br />
        </form>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="text-center">
    <p id="jumbo-text">Contact Us</p>
    <br />
    610-864-1155
    <br /><br />
    Peter@apply.insure - sales questions
    <br /><br />
    support@apply.insure - service help
    <br /><br />
  </div>
</div> -->
