</table>
</td>
</tr>
</table>
</td>
</tr>
<!-- footer -->
<tr>
  <td class="plr-15" style="padding:0 34px 30px;">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <th class="flex" width="182" align="left" style="vertical-align:top; padding:0;">
          <table class="table-center" cellpadding="0" cellspacing="0">
            <tr>
              <td mc:edit="block_34" class="active"
                  style="line-height:13px; font-size:10px; mso-line-height-rule:at-least;">
                <a style="text-decoration:none;" target="_blank" href="http://link">
                  <img src="https://www.psd2html.com/examples/markup/ultimaker/ico-facebook.png" width="6"
                       style="vertical-align:top;" alt="fb"/>
                </a>
              </td>
              <td width="28"></td>
              <td mc:edit="block_35" class="active"
                  style="line-height:13px; font-size:10px; mso-line-height-rule:at-least;">
                <a style="text-decoration:none;" target="_blank" href="http://link">
                  <img src="https://www.psd2html.com/examples/markup/ultimaker/ico-twitter.png" width="14"
                       style="vertical-align:top;" alt="tw"/>
                </a>
              </td>
              <td width="21"></td>
              <td mc:edit="block_36" class="active"
                  style="line-height:13px; font-size:10px; mso-line-height-rule:at-least;">
                <a style="text-decoration:none;" target="_blank" href="http://link">
                  <img src="https://www.psd2html.com/examples/markup/ultimaker/ico-instagram.png" width="12"
                       style="vertical-align:top;" alt="ig"/>
                </a>
              </td>
              <td width="21"></td>
              <td mc:edit="block_37" class="active"
                  style="line-height:13px; font-size:10px; mso-line-height-rule:at-least;">
                <a style="text-decoration:none;" target="_blank" href="http://link">
                  <img src="https://www.psd2html.com/examples/markup/ultimaker/ico-youtube.png" width="16"
                       style="vertical-align:top;" alt="yt"/>
                </a>
              </td>
            </tr>
          </table>
        </th>
        <th class="flex" width="20" height="20" style="padding:0;"></th>
        <th class="flex" align="left" style="vertical-align:top; padding:0;">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td mc:edit="block_38" class="aligncenter"
                  style="font:11px/14px Verdana, Geneva, sans-serif; color:#343a3f;">
                &copy; 2019 apply.insure
              </td>
            </tr>
          </table>
        </th>
        <th class="flex" width="20" height="20" style="padding:0;"></th>
        <th class="flex" width="110" align="left" style="vertical-align:top; padding:0;">
          <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td mc:edit="block_39" class="aligncenter" align="right"
                  style="font:11px/14px Verdana, Geneva, sans-serif; color:#2e353b;">
                <a style="color:#2e353b; text-decoration:underline;" href="*|UNSUB|*">Unsubscribe</a>
              </td>
            </tr>
          </table>
        </th>
      </tr>
    </table>
  </td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>
